In [1]:
import numpy as np
import pandas as pd
from datetime import datetime

In [2]:
df = {'timestamp': ['2019-07-08 15:11:16 UTC', '2019-06-27 14:30:01 UTC']}
df = pd.DataFrame(df)
df
#UTC stands for "Coordinated Universal Time"

                 timestamp
0  2019-07-08 15:11:16 UTC
1  2019-06-27 14:30:01 UTC

In [3]:
# Note that 'timestamp' is a string. 
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 1 columns):
timestamp    2 non-null object
dtypes: object(1)
memory usage: 96.0+ bytes

In [4]:
# Want to convert the string variable to date-time format
df['datetime'] = pd.to_datetime(df['timestamp'])
df

                 timestamp            datetime
0  2019-07-08 15:11:16 UTC 2019-07-08 15:11:16
1  2019-06-27 14:30:01 UTC 2019-06-27 14:30:01

# Tabulating date distribution

# Version 1

In [5]:
# Convert datetime into year-month
df['year_month'] = df['datetime'].dt.to_period('M')

In [6]:
# Convert datetime into day
df['day'] = df['datetime'].dt.to_period('D')

In [7]:
df

                 timestamp            datetime year_month        day
0  2019-07-08 15:11:16 UTC 2019-07-08 15:11:16    2019-07 2019-07-08
1  2019-06-27 14:30:01 UTC 2019-06-27 14:30:01    2019-06 2019-06-27

In [8]:
df.year_month.value_counts()

2019-07    1
2019-06    1
Freq: M, Name: year_month, dtype: int64

In [9]:
df.day.value_counts()

2019-07-08    1
2019-06-27    1
Freq: D, Name: day, dtype: int64

In [10]:
pd.crosstab(index = df.day, columns = 'counts')

col_0       counts
day
2019-06-27       1
2019-07-08       1

In [12]:
# !! Subset to a spefic date
pd.Period('2019-06', 'M')

Period('2019-06', 'M')

In [13]:
df[df.day == pd.Period('2019-06-27', 'D')]

                 timestamp            datetime year_month        day
1  2019-06-27 14:30:01 UTC 2019-06-27 14:30:01    2019-06 2019-06-27

In [14]:
df[df.year_month == pd.Period('2019-06', 'M')]

                 timestamp            datetime year_month        day
1  2019-06-27 14:30:01 UTC 2019-06-27 14:30:01    2019-06 2019-06-27

# Version 2

In [15]:
df2 = df.copy()
df2.index = df2['datetime']

In [16]:
df2.resample('D').count()

            timestamp  datetime  year_month  day
datetime
2019-06-27          1         1           1    1
2019-06-28          0         0           0    0
2019-06-29          0         0           0    0
2019-06-30          0         0           0    0
2019-07-01          0         0           0    0
2019-07-02          0         0           0    0
2019-07-03          0         0           0    0
2019-07-04          0         0           0    0
2019-07-05          0         0           0    0
2019-07-06          0         0           0    0
2019-07-07          0         0           0    0
2019-07-08          1         1           1    1

In [17]:
df2.resample('M').count()

            timestamp  datetime  year_month  day
datetime
2019-06-30          1         1           1    1
2019-07-31          1         1           1    1

End